summary {
    line-height: 1.8em;
}
summary {
    line-height: 1.8em;
}
.DocSearch-Logo {
    display: inline-flex;
}
.color {
    color: var(--ifm-color-primary);
}

.red {
    color: #ff0000;
}
.blue {
    color: #0000ff;
}
.grey {
    color: grey;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.transparent {
    color: transparent;
}
.white {
    color: white;
}
.texttop {
    vertical-align: text-top;
}

.textbottom {
    vertical-align: text-bottom;
}

.inline {
    display: inline-flex;
}
.largertext {
    font-size: 1.5em;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: var(--ifm-color-primary);
}

.material-icons-h1 {
    font-size: 60px !important;
    vertical-align: middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline !important;
}
.material-icons-h1-inline {
    font-size: 60px !important;
   
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
   
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

}
.material-icons-h2 {
    font-size: 36px !important;
    vertical-align: middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline !important;
    color: var(--ifm-color-primary);
}

.pushable {
    background: rgba(102, 102, 102, 1);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 5px 20px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgba(230, 230, 230, 1);
    color: black;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.buttontext {
    /*  border: 0.5px solid rgba(102, 102, 102, 0.1);*/
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /*    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
*/ padding: 8px 24px 6px 24px;
    color: rgba(142, 142, 142, 1);
    /* background-color: rgba(230, 230, 230, 0.1)*/
}

    .buttontext:hover {
        background-color: rgba(44, 222, 92, 1);
        box-shadow: 0px 15px 20px rgba(44, 222, 92, 0.4);
        color: rgba(102, 102, 102, 1);
        transform: translateY(-7px);
    }

.droplisttext {
    /* border: 0.5px solid rgba(102, 102, 102, 0.6);*/
    /*  border-radius: 6px;*/
    box-shadow: 3px 3px rgba(122, 122, 122, 1);
    padding: 4px 22px 2px 22px;
    margin: 0.1em 1em 1em 1em;
    color: rgba(142, 142, 142, 1);
}

    .droplisttext::after {
        content: "  v   ";
        font-weight: 100;
        color: rgba(200, 200, 200, 1);
        padding-left: 4em;
    }

h1 {
    font-size: var(--ifm-h1-font-size);
    display: inline-block;
    position: relative;
    padding-right: 1.4em
}
.end {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 1.4em
}
.material-icons-h1 {
    float: right;
    display: inline;
    right: 0;
    width: 2em;
    margin-top: -1.38em;
}

:root {
    --ifm-color-white: #fff;
    --ifm-color-black: #000;
    /* --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208); */
    --ifm-dark-value: 10%;
    --ifm-darker-value: 15%;
    --ifm-darkest-value: 30%;
    --ifm-light-value: 15%;
    --ifm-lighter-value: 30%;
    --ifm-lightest-value: 50%;
    --ifm-color-primary: #6dab51;
    --ifm-color-secondary: #2f6542;
    --ifm-color-primary-dark: #2f6542;
    --ifm-color-primary-darker: #044d0b;
    --ifm-color-primary-darkest: #04410a;
    --ifm-color-primary-light: #12b623;
    --ifm-color-primary-lighter: #1cb82c;
    --ifm-color-primary-lightest: #20d632;
    --ifm-color-secondary-dark: rgb(212, 213, 216);
    --ifm-color-secondary-darker: rgb(200, 201, 204);
    --ifm-color-secondary-darkest: rgb(164, 166, 168);
    --ifm-color-secondary-light: rgb(238, 240, 242);
    --ifm-color-secondary-lighter: rgb(241, 242, 245);
    --ifm-color-secondary-lightest: rgb(245, 246, 248);
    --ifm-code-font-size: 95%;
    --ifm-navbar-background-color: var(--ifm-background-surface-color);
    --ifm-navbar-height: 3.75rem;
    --ifm-navbar-item-padding-horizontal: 1rem;
    --ifm-navbar-item-padding-vertical: 0.25rem;
    --ifm-navbar-link-color: var(--ifm-font-color-base);
    --ifm-navbar-link-hover-color: var(--ifm-color-primary);
    --ifm-navbar-link-active-color: var(--ifm-link-color);
    --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
    --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
    --ifm-navbar-shadow: var(--ifm-global-shadow-lw);
    --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
    --ifm-navbar-search-input-color: var(--ifm-color-emphasis-800);
    --ifm-navbar-search-input-placeholder-color: var(--ifm-color-emphasis-500);
    --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
    --ifm-navbar-sidebar-width: 80vw;
    --ifm-heading-color: var(--ifm-color-emphasis-800);
    --ifm-table-head-background: rgba(217, 242, 217, 0.6);
    --ifm-table-head-color: var(--ifm-color-primary-dark);
    --ifm-table-row-background: rgba(217, 242, 217, 0.3);
    --ifm-table-stripe-background: #fff;
    --ifm-table-border-color: #fff;
    --ifm-table-border-width: 0.2em;
    /* The below are for tips and other admonitions*/
    --ifm-color-success: #00a400;
    --ifm-color-success-dark: rgb(0, 148, 0);
    --ifm-color-success-darker: rgb(0, 139, 0);
    --ifm-color-success-darkest: rgb(0, 115, 0);
    --ifm-color-success-light: rgb(38, 178, 38);
    --ifm-color-success-lighter: rgb(77, 191, 77);
    --ifm-color-success-lightest: rgb(128, 210, 128);
    --ifm-color-info: #54c7ec;
    --ifm-color-info-dark: rgb(76, 179, 212);
    --ifm-color-info-darker: rgb(71, 169, 201);
    --ifm-color-info-darkest: rgb(59, 139, 165);
    --ifm-color-info-light: rgb(110, 207, 239);
    --ifm-color-info-lighter: rgb(135, 216, 242);
    --ifm-color-info-lightest: rgb(170, 227, 246);
    --ifm-color-warning: #ffba00;
    --ifm-color-warning-dark: rgb(230, 167, 0);
    --ifm-color-warning-darker: rgb(217, 158, 0);
    --ifm-color-warning-darkest: rgb(179, 130, 0);
    --ifm-color-warning-light: rgb(255, 196, 38);
    --ifm-color-warning-lighter: rgb(255, 207, 77);
    --ifm-color-warning-lightest: rgb(255, 221, 128);
    --ifm-color-danger: #fa383e;
    --ifm-color-danger-dark: rgb(225, 50, 56);
    --ifm-color-danger-darker: rgb(213, 48, 53);
    --ifm-color-danger-darkest: rgb(175, 39, 43);
    --ifm-color-danger-light: rgb(251, 86, 91);
    --ifm-color-danger-lighter: rgb(251, 116, 120);
    --ifm-color-danger-lightest: rgb(253, 156, 159);
}
    .admonition h5 {
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase;
    color: var(--ra-admonition-icon-color);
    font-family: Calibri;
    font-size:1.3em;
    font-weight:300;
}
.admonition a {
    color: var(--ra-admonition-icon-color);
}
.admonition-icon {
    display: inline-block;
    margin-right: .2em
}


    .admonition-icon svg {
        stroke-width: 0;
        fill: var(--ra-admonition-icon-color);
        stroke: var(--ra-admonition-icon-color);
        display: inline-block;
        height: 22px;
        width: 22px
    }

.admonition-content > :last-child, blockquote > :last-child {
    margin-bottom: 0
}

.admonition-note {
    --ra-admonition-color: rgb(0, 134, 179);
    background-color: rgb(204, 242, 255);
    border-color: rgba(0, 134, 179,0.5);
}
.admonition-tip {
    --ra-admonition-color: rgb(45, 134, 45);
    background-color: rgb(198, 236, 198);
    border-color: rgba(45, 134, 45,0.5);
}
    /* The above are for tips and other admonitions*/


.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.navbar--fixed-top {
    position: sticky;
    top: 0;
    z-index: var(--ifm-z-index-fixed);
    background-color: #111111
}

.primary {
    color: var(--ifm-color-primary);
}

.navbar__link {
    color: gainsboro
}

.navbar__brand {
    color: gainsboro;
    vertical-align: bottom;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.navbar__logo {
    height: 150%;
/*    width: 100%;*/
    margin-right: 0.1rem;
}
.navbar svg {
    color: var(--ifm-color-primary);
}
.footer--dark {
    display:none;
    --ifm-footer-background-color: #111111;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
}

.row .col.col--3.features:hover {
    background-color: rgba(57, 230, 0, 0.1);
    box-shadow: 5px 10px #cccccc;
    border-radius: 2rem;
}

.row .col.col--3.features {
    padding-top: 30px;
}

.featurescont {
    margin-top: -30px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: var(--ifm-color-primary);
    display: inline !important;
}


.hero__title {
    font-size: 3rem;
    color: #fff;
    /*  background-color: rgba(10,10,10, 0.7);*/
    /*    text-shadow: 1px 0 0 rgba(102, 102, 102, 1), 0 -1px 0 rgba(102, 102, 102, 1), 0 1px 0 #000, -1px 0 0 #000;
*/ /* box-shadow: 0px 15px 20px rgba(44, 222, 92, 0.4);*/
    /*    animation: flicker 1.5s infinite alternate;*/
    /*  animation: pulsate 2.0s infinite alternate;*/
}
/*.hero__title:hover {*/
/*   color: rgba(44, 222, 92, 1);*/
/*  background-color: transparent;
        box-shadow: none;*/
/*text-shadow:*/
/* White glow */
/*0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,*/
/* Green glow */
/*0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;*/
/*  transform: translateY(-7px);*/
/*}*/
.hero {
    align-items: center;
    background-color: #000;
    background-image: url(/img/navbar.jpg);
    color: var(--ifm-hero-text-color);
    display: flex;
    background-size: cover;/*
    background-repeat: no-repeat;*/
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }

    0% {
        /* Smaller blur radius */
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa, 0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
    }
}
a {
    color: var(--ifm-link-color);
    text-decoration: var(--ifm-color-secondary:);
    transition: color var(--ifm-transition-slow) var(--ifm-transition-timing-default);

}
    a:hover {
        color: var(--ifm-color-secondary);
        text-decoration: none;
        transition-property: font-size;
        transition-property: color;
        transition-duration: var(--ifm-transition-slow);
    /*    font-size: 1.0em;
        font-weight: 600;*/
        box-shadow: 0px 1px var(--ifm-color-primary-light), 0px 2px var(--ifm-color-primary-lighter), 0px 3px var(--ifm-color-primary-lightest);
        -webkit-transform: translateX(-0px);
        transform: translateX(-0px);
      /*  padding: 6px 6px 6px 6px;*/
    }


    /* ALGOLIA SEARCH BELOW */
html[data-theme='light'] .DocSearch {
     --docsearch-primary-color: var(--ifm-color-primary); 
     --docsearch-text-color: var(--ifm-font-color-base); 
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(94, 100, 112, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-color-secondary-lighter);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-color-secondary);
    --docsearch-searchbox-focus-background: var(--ifm-color-white);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-white);
    /* Footer */
    --docsearch-footer-background: var(--ifm-color-white);
  
}

html[data-theme='dark'] .DocSearch {
    --docsearch-text-color: var(--ifm-font-color-base);
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(47, 55, 69, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-background-color);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-background-color);
    --docsearch-searchbox-focus-background: var(--ifm-color-black);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-emphasis-100);
    /* Footer */
    --docsearch-footer-background: var(--ifm-background-surface-color);
    --docsearch-key-gradient: linear-gradient( -26.5deg, var(--ifm-color-emphasis-200) 0%, var(--ifm-color-emphasis-100) 100% );
}
/* SearchButton */
.DocSearch-Button-Key {
    visibility: hidden;
    width: 0px;
}

.DocSearch-Button-Keys {
    visibility: hidden;
    width: 0px;
}

.DocSearch-Button-Container {
    width: 100%;
}
/* Algolia Search above */

/* Tables Below */

table {
    border-collapse: collapse;
    display: block;
    margin-bottom: var(--ifm-spacing-vertical);
    overflow: auto;
    width: 100%;
}

    table tr {
        background-color: var(--ifm-table-row-background);
        border-top: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    }

        table tr:nth-child(2n) {
            background-color: var(--ifm-table-stripe-background);
        }

    table th,
    table td {
        border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
        padding: var(--ifm-table-cell-padding);
    }

    table th {
        background-color: var(--ifm-table-head-background);
        color: var(--ifm-table-head-color);
        font-weight: var(--ifm-table-head-font-weight);
    }

    table td {
        color: var(--ifm-table-cell-color);
    }



/* Tables Above */